<%= image_tag "logo.png" %>

<div id="welcome">
	<h2>Welcome</h2>

	It's hard to appease the masses, but Mini Eden has done a superb job. Experience
	with your family, a drink with your friends, or carry-out for a quiet night at home.
	The food is consistently  tasty, fresh and top quality there are some wording around
	Please fill out the information whenever there is certain something happen.
</div>

<div id = "delivery_note">
	<br>FAST, FREE DELIVERY (Within 3 Miles, Min $12.00)</br>
	$1.00 or more charge may be applied for a delivery order less than $12.00 or over 3 miles.</br>
</div>
<div id="section1">
	<div style="height:300px;float:left">
			<h2>Open Hours</h2>
				Sun. & Mon.: 11:30 am to 10:00 pm<br/>
				Tues.- Thurs.: 10:30 am to 10:00 pm<br/>
				Fri. & Sat.:  10:30 noon to 11:00 pm<br/>

				<h2>Address</h2>
				892 S. Rochester Road<br/>
				Rochester Hills, MI. 48307<br/>
				(In South Hill Plaza, Next to McDonald)<br/>
	</div>
	<div class="rotator">
			  <ul>
			    <li class="show">
			    
			    <%= image_tag "dish1.png",:size => "280x169" %>
			    </a>
			    </li>
			    <li>
			    
			    <%= image_tag "dish2.png",:size => "280x169" %>
			    </a>
			    </li>
				<li>
			    
			    <%= image_tag "dish3.png",:size => "280x169" %>
			    </a>
			    </li>
				<li>
			    
			    <%= image_tag "dish4.png",:size => "280x169" %>
			    </a>
			    </li>
			  </ul>
	 </div>
				
</div>
<div id="section2">
	<div style="float:left">
			<%= image_tag "map.png" , :size=>"280x196"%>
	</div>	
	<div style="float:right;margin-right:140px;">
				We accept,<%= image_tag "american-express-icon.png"%>
				<%= image_tag "visa-icon.png"%>
				<%= image_tag "mastercard-icon.png"%><br/>
				Paying delivery order by credit cards, <br/>
				please let us know while ordering.<br/>
				($1.00 fee for paying by phone.)<br/>
				We accept business checks. <br/>
				We DO NOT accept personal checks.<br/>
	</div>


</div>