
<%= image_tag "logo.png" %>

<div id="section1">
	<div id="left_subsection">
		<a href="#">Click  Here</a>  for Our NEW Menu. <br/><br/>
		(PDF format, 2 pages, 8 ½ x 14 inches)<br/><br/>

		<a href="#">Click  Here</a>  for Pictures of our Typical Meals.<br/><br/>

		Chef’s Specil Recomendations:<br/><br/>
		
	    <a href="#">Page1</a>   <a href="#">Page2</a> <br/><br/>

		<a href="#">Click here</a> for our most popular dishes.
	</div>
	<div class="rotator">
			  <ul>
			    <li class="show">
			    
			    <%= image_tag "dish1.png",:size => "280x169" %>
			    </a>
			    </li>
			    <li>
			    
			    <%= image_tag "dish2.png",:size => "280x169" %>
			    </a>
			    </li>
				<li>
			    
			    <%= image_tag "dish3.png",:size => "280x169" %>
			    </a>
			    </li>
				<li>
			    
			    <%= image_tag "dish4.png",:size => "280x169" %>
			    </a>
			    </li>
			  </ul>
	 </div>
	
</div>
